<div class="footer-container">
    <div class="footer-child">
        <div class="footer-subchild one">
            <p>© 2023 ALGODLA.com</p>
        </div>
        <div class="footer-subchild two">
            <p>Terms |</p>
            <p> &nbsp;Terms for VPS |</p>
            <p> &nbsp;Privacy & Cookies</p>
        </div>
        <div class="footer-subchild three">
            <p>ALGODLA is an AI-powered, automated analytical web app that you can connect to your account. 
            It conducts market analysis and provides you with real-time insights.</p>
        </div>
    </div>
</div>