<% content_for :title, "ALGODLA | Automated Trading Robot" %>

<div class="section1-container">
    <div class="section1-child">
        <div class="section1-subchild one">
            <p></p>
        </div>
        <div class="section1-subchild two">
            <p>AI Auto-Trading Robot</p>
        </div>
        <div class="section1-subchild three">
            
        </div>
        <div class="section1-subchild four">
            <%= link_to "How It Works?", root_path, class: "works-path" %>
        </div>
    </div>
</div>

<div class="section2-container">
</div>