<% content_for :title, "ALGODLA | Automated Trading Robot" %>

<div class="section1-container">
    <div class="section1-child">
        <div class="section1-subchild one">
        <!-- backup
            <p>3.9% MONTHLY PROFITS</p>
        -->
        </div>
        <div class="section1-subchild two" id="ai">
            <p>AI Auto-Trading Robot</p>
        </div>
        <div class="section1-subchild three">
        <!-- backup
            <%= link_to 'SEE RESULTS', root_path, class: 'section1-btn' %>
            <%= link_to 'TRY FOR FREE', root_path, class: 'section1-btn' %>
        -->
        </div>
        <div class="section1-subchild four">
            <%= link_to "How It Works?", root_path, class: "works-path" %>
        </div>
    </div>
    <div class="down-arrow">
        <a href="#section2-container">
            <i class="fas fa-chevron-down bounce"></i>
        </a>
    </div>
</div>

<div class="section2-container" id="section2-js">
</div>