.section1-container{
    height: 950px;
    background-image: url("wallpaper.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15%;
}

.section1-child{
    width: 100%;
    height: 90%;
    padding: 0.5%;
    display: flex;
    flex-direction: column;
}

.section1-subchild{
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 65px;
    font-family: 'Lato', sans-serif;
    color: #fff;
}

.section1-subchild.one{
    font-size: 22px;
    line-height: 32px;
    font-weight: 600;
    letter-spacing: 2px;
}

.section1-subchild.two{
    font-size: 76px;
    font-weight: 600;
    line-height: 86px;
    letter-spacing: -.03em;
}

.section1-subchild.three{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.section1-btn{
    width: 190px;
    height: 60px;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    letter-spacing: 2px;
    color: #111;
    background-color: #ddd;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    transition: background-color 0.3s;
}

.section1-btn:hover{
    background-color: #fff;
    border: 1px solid #fff;
}

.works-path{
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}

.section1-subchild.four{
    font-weight: 400;
    font-size: 18px;
}

.down-arrow {
    position: absolute;
    bottom: 20px; /* Adjust the distance from the bottom as needed */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  
  .down-arrow a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
  }
  
  .down-arrow a:hover {
    text-decoration: underline; /* Optional: add an underline on hover */
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-15px);
    }
    60% {
      transform: translateY(-7px);
    }
  }
  
  .bounce {
    animation: bounce 2s infinite;
  }
  
  

  @media screen and (max-width: 991px) {
    .section1-container {
        width: 100%;
        height: 950px;
        padding: 0;
        background-attachment: scroll;
    }

    .section1-child {
        width: 100%;
        height: auto;
    }

    .section1-subchild {
        margin-bottom: 20px;
    }

    .section1-subchild.one{
        font-size: 18px;
        line-height: 28px;
    }

    #ai {
        margin-top: -16px;
    }

    .section1-subchild.two {
        font-size: 32px; /* Reduce font size for smaller screens */
        font-weight: 600;
    }

    .section1-btn {
        width: 150px;
        height: 50px;
        line-height: 50px;
        font-size: 11px;
    }
}

    @media screen and (min-height: 1180px) and (max-width: 820px) {
        .down-arrow {
            bottom: 280px;
        }
    }

    @media screen and (min-height: 1024px) and (max-width: 768px) {
        .down-arrow {
            bottom: 15%;
        }
    }


//section2
.section2-container{
    height: 1000px;
    display: flex;
    justify-content: center;
    padding: 8% 15%;
}

.section2-child{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.section2-subchild{
    font-family: 'Lato', sans-serif;
}

.section2-subchild.one{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.sub-one{
    width: 100%;
    font-size: 38px;
    font-weight: 600;
    line-height: 58px;
}

.section2-subchild.two{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 494px;
    margin-top: 6%;
    gap: 20px;
}

.section2-innerchild{
    width: 50%;
    height: 494px;
}

.section2-innerchild.one{
    display: flex;
    flex-direction: row;
    padding: 0.2%;
    gap: 5px;
}

.inner{
    width: 50%;
}

.left-image,
.right-image{
    height: 50%;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

.icon-enlarge{
    width: 64px;
    transition: transform 0.3s ease;
}

.icon-enlarge:hover{
    transform: scale(1.2);
}

.title{
    margin-top: 20px;
    font-size: 24px;
    line-height: 34px;
}

.desc{
    margin-top: -5px;
    font-size: 18px;
    color: #757575;
}

.no-payment{
    font-weight: 600;
}

.section2-innerchild.two{
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.grandchild.one{
    display: flex;
    justify-content: center;
}

.algodla-bot{
    width: 600px;
    height: auto;
}

.free-btn{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.section2-btn{
    width: 290px;
    height: 60px;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    letter-spacing: 2px;
    color: #fff;
    background-color: #353434;
    border: 1px solid #353434;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    transition: background-color 0.3s;
}

.section2-btn:hover{
    background-color: #111;
    border: 1px solid #111;
}

.result{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #757575;
    text-align: center;
    margin-top: 3%;
}

@media (max-width: 1780px) {
    .section2-container {
      height: auto; /* Remove fixed height */
      padding: 8% 5%; /* Adjust padding */
    }
  
    .section2-child {
      align-items: center;
    }
  
    .section2-subchild.one {
      flex-direction: column; /* Stack elements vertically */
      text-align: center; /* Center text */
      height: auto; /* Adjust height */
      gap: 10px; /* Increase gap between elements */
    }
  
    .sub-one {
      font-size: 28px; /* Reduce font size */
      line-height: 42px; /* Adjust line height */
    }
  
    .section2-subchild.two {
      flex-direction: column; /* Stack elements vertically */
      height: auto; /* Adjust height */
      margin-top: 6%;
      gap: 20px; /* Increase gap between elements */
    }
  
    .section2-innerchild.one {
      width: 100%; /* Make inner children full width */
      padding: 2%; /* Add some padding */
    }

    .section2-innerchild.two {
        width: 100%; /* Make inner children full width */
        padding: 2%; /* Add some padding */
        margin-top: 30px;
      }
  
    .left-image,
    .right-image {
      height: auto; /* Remove fixed height */
      align-items: center; /* Center content vertically */
      text-align: center; /* Center text */
    }
  
    .icon-enlarge {
      width: 48px; /* Reduce icon size */
    }
  
    .title {
      font-size: 18px; /* Reduce font size */
      line-height: 30px; /* Adjust line height */
    }
  
    .desc {
      font-size: 16px; /* Reduce font size */
    }
  
    .section2-innerchild.two {
      padding: 2%; /* Add some padding */
    }
  
    .algodla-bot {
      width: 100%; /* Make the image responsive */
      max-width: 400px; /* Limit image width */
    }
  
    .free-btn {
      margin-top: 2%;
    }
  
    .section2-btn {
      width: 250px; /* Make the button full width */
      height: 50px;
      line-height: 50px;
      font-size: 12px;
    }
  
    .result {
      margin-top: 3%;
    }
  }

.section3-container{
    height: 1000px;
    display: flex;
    justify-content: center;
    padding: 2% 15%;
    background-image: url("how_it_works.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.section3-child{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 0 15% 0 15%;
}

.section3-subchild{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0 1% 1% 1%;
    font-family: 'Lato', sans-serif;
}

.section3-title{
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 44px;
    line-height: 54px;
    font-weight: 600;
}

.subtitle{
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
    margin-top: 30px;
}

.section3-desc{
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    margin-top: 2%;
}

.section3-pic{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.works-bot{
    width: 730px;
    height: auto;
}

.subtitle-two{
    font-size: 18px;
    text-align: center;
    color: #757575;
    margin-top: 2%;
}

.button{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.section3-btn{
    width: 250px;
    height: 60px;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    letter-spacing: 2px;
    color: #fff;
    background-color: #353434;
    border: 1px solid #353434;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    transition: background-color 0.3s;
}

.section3-btn:hover{
    background-color: #111;
    border: 1px solid #111;
}