.menubar-container{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1;
    padding: 1.5% 3.5%
}

.menubar-child{
    width: 100%;
    display: flex;
    padding: 0.2%;
}

.menu-subchild{
    display: flex;
}

.logo{
    width: 150px;
    height: auto;
    margin-top: -10px;
}

.menu-subchild.one{
    width: 50%;
}

.menu-subchild.two{
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.menu-link{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    opacity: .78;
}

.scrolled{
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

.menu-link.scrolled{
    color: black;
}

/* Smaller screens (up to 991px) */
@media screen and (max-width: 991px) {
    .menubar-container{
        height: 60px;
    }

    .menu-subchild.one,
    .menu-subchild.two {
      width: 100%;
      display: flex;
      flex-direction: row; /* Display menu items vertically */
      justify-content: center;
      align-items: center; /* Center-align menu items */
      gap: 20px; /* Adjust the gap between menu items */
      padding: 1%;
    }

    .menu-link {
        font-size: 16px;
    }

    .logo {
        max-width: 80%;
        height: auto;
        margin-top: 5px;
    }
  }
  